<template>
  <div>
    <app-nav></app-nav>
      <b-container class="bv-example-row">
        <b-row>
          <b-col>
            <app-form @addGrade="newGrade" @showReport="viewReport"></app-form>
            <hr>
            <app-json-viewer :value="value"></app-json-viewer>
            <app-show-detail></app-show-detail>
          </b-col>
          <b-col>
            <div v-if="showReport === true">
              <app-report-grade :gridGrade="value"></app-report-grade>
            </div>
          </b-col>
        </b-row>
      </b-container>

      <b-modal ref="alertDataNull" hide-footer centered title="การแจ้งเตือน">
        <p class="data-null">ไม่พบข้อมูล!</p>
      </b-modal>
  </div>
</template>

<script>
import InputForm from './components/InputForm.vue'
import Nav from './components/Nav'
import JsonViewer from './components/JsonViewer.vue';
import ReportGrade from './components/ReportGrade.vue';
import ShowDetail from './components/ShowDetail.vue';
export default {
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      value: [],
      showReport: false
    }
  },
  methods: {
    newGrade(newValue) {
      this.value.push(newValue)
    },
    viewReport() {
      if (this.value.length !== 0) {
        this.showReport = true
      } else {
        this.$refs.alertDataNull.show()
      }
    }
  },
  components: {
    appForm: InputForm,
    appNav: Nav,
    appJsonViewer: JsonViewer,
    appReportGrade: ReportGrade,
    appShowDetail: ShowDetail
  }
}
</script>

<style lang="scss"></style>
